.skills {
    height: 90vh;
    padding: 10em 0 10em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
}

.skills-title {
    color: #3a5a40;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1em;
}

.skills-nav {
    background-color: inherit;
    display: flex;
    width: fit-content;
    border-bottom: solid 0.15vw rgb(58, 90, 64, 0.44);
    align-items: center;
    margin-bottom: 3em;
}
.skills__nav-item {
    position: relative;
    top: 2px;
    background-color: inherit;
    padding: 0;
    width: 200px;
    border: none;
    height: 50px;
    text-align: center;
    color: #3a5a40;
    opacity: 0.5;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Noto Sans', sans-serif;
}

.skills__nav-item--active {
    font-weight: 600;
    opacity: 1;
}

.skills__nav-item--active .skills__nav-item-bar {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    background-color: #3a5a40;
    border-radius: 16px;
    transition: .6s;
}

.skills-contents {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 4em;
    gap: 2em 4em;
}

@media (max-width: 800px) {
    .skills {
        padding-top: 5em;
    }
    .skills-contents {
        display: flex;
        flex-direction: column;
    }
}