.project-info {
    width: 70vw;
    margin: 0 auto 10em;
}

.project-info-top {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
}

.project-info-back {
    width: 6vh;
    height: 6vh;
    margin-right: 3vh;
    margin-left: 2vh;
}

.project-info-type {
    font-size: 1.1em;
    color: rgb(87, 87, 87);
}

.project-info-title {
    font-size: 1.5em;
    font-weight: 700;
}

.project-info-divider {
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.199);
    margin: 1.5em auto;
}

.project-info-main-img {
    width: 70%;
    display: flex;
    margin: 20px auto;
}

@media (max-width: 1000px) {
    .project-info {
        width: 90vw;
    }
}