.project-details {
    display: flex;
    flex-direction: column;
}

.project-details-type {
    font-size: 1.1em;
    font-weight: 700;
    margin: 2em 0 0.3em 0;
}

.project-details-content {
    font-size: 1em;
    font-size: 500;
}

.project-details a {
    color: black;
}

.project-details-stacks {
    margin-top: 1em;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.project-details-stack {
    background-color: #3a5a40c1;
    color: white;
    border-radius: 1em;
    padding: 0.2em 1em;
    font-size: 1em;
}